@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
}

html body {
  font-family: "Open Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.gradient {
  background: linear-gradient(45deg, #18a1cc, #92d1ff);
}

.gradient-text {
  background: var(
    --main-primary,
    linear-gradient(134deg, #18a1cc 16.37%, #92d1ff 94.77%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-reverse {
  background: linear-gradient(45deg, #92d1ff, #18a1cc);
}

@layer components {
  .input-group {
    @apply mb-4;
  }

  .input-group label,
  .input-group input,
  .input-group select,
  .input-group textarea {
    @apply block text-sm text-gray-700 mb-2 duration-500;
  }
  .input-group input,
  .input-group select,
  .input-group textarea {
    @apply text-[#434343] w-full bg-gray-100 px-4 py-2 outline-none rounded-md border border-gray-200;
  }

  .button {
    @apply text-sm block rounded-lg p-2 w-full text-center mt-8 text-white cursor-pointer duration-500;
  }

  .button:disabled {
    @apply cursor-not-allowed bg-gray-400 duration-500;
  }
}

.period {
  border-radius: var(--corner-radius-80, 8px);
  background: var(--blue-10, rgba(32, 91, 241, 0.1));
}

#sidebar {
  border-right: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
  background: var(--white-100, #fff);
}

.credit-card {
  border-radius: 16px;
  background: var(
    --button-main-primary,
    linear-gradient(134deg, #18a1cc 16.37%, #92d1ff 94.77%)
  );
}

#credit-btn {
  border-radius: var(--corner-radius-80, 8px);
  background: var(--main-secondary, #edf8ff);
}

#flex-center {
  display: flex;
  align-items: center;
}

#convo-header {
  border-bottom: 1px solid var(--gray-300, #d1d5db);
  background: var(--light-100, #fff);
  backdrop-filter: blur(5px);
}

#tour-btn {
  border-radius: 8px;
  background: var(
    --main-primary,
    linear-gradient(134deg, #18a1cc 16.37%, #92d1ff 94.77%)
  );

  /* Button */
  box-shadow: 0px 2px 10px 0px rgba(101, 192, 237, 0.5);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: 20;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.backdrop-tour {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  z-index: 20;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.05) 0%,
    rgba(0, 0, 0, 0.05) 100%
  );
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: scale 0.4s ease-in-out forwards;
  transition: all;
}

.modal-card {
  padding: 24px;
  flex-direction: column;
  display: flex;
  margin: auto;
  align-items: flex-start;
  border-radius: var(--corner-radius-80, 8px);
  border: 1px solid
    var(--neutral-stroke-transparent-rest, rgba(255, 255, 255, 0));
  background: var(--neutral-background-1-rest, #fff);
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#agree {
  background: var(
    --main-primary,
    linear-gradient(134deg, #18a1cc 16.37%, #92d1ff 94.77%)
  );
  box-shadow: 0px 2px 10px 0px rgba(101, 192, 237, 0.5);
}

#cancel {
  border-radius: var(--corner-radius-80, 8px);
  background: var(--main-secondary, #edf8ff);
}

#cancel-text {
  background: var(
    --main-primary,
    linear-gradient(134deg, #18a1cc 16.37%, #92d1ff 94.77%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#feedback {
  border-radius: 4px;
  width: 100%;
  border: 1px solid var(--neutral-5, #d9d9d9);
  background: var(--neutral-3, #f5f5f5);
}

.conversation-input {
  position: sticky;
  bottom: 0;
  background-color: #fff; /* Set background color if needed */
}

#convo {
  background-image: url(/heart-rate-grey.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.tour-dialog {
  animation: tour 0.2s ease-in-out;
}

@keyframes tour {
  0% {
    opacity: 0;
    transform: translateY(-1%);
  }

  100% {
    opacity: 1%;
    transform: translateY(1%);
  }
}

#bot-chat {
  border-radius: var(--corner-radius-80, 8px);
  background: var(--blue-10, rgba(32, 91, 241, 0.1));
}

#loading {
  animation: loader 0.5s ease-in-out infinite;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ecg-background {
  background-image: url(/public/ECG.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* #chat-actions {
  color
  background: var(
    --main-primary,
    linear-gradient(134deg, #18a1cc 16.37%, #92d1ff 94.77%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#chat-actions:hover {
 background-color: #1F53B9;
}

#chat-actions:hover .gradient-text {
 background-color: none;
 color: white;
} */