@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
}

html body {
  font-family: "Open Sans", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow-x: hidden;
  /* background-image: url(./assets/heartrate.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top; */
}

.gradient {
  background: linear-gradient(45deg, #18a1cc, #92d1ff);
}

.gradient-text {
  background: var(
    --main-primary,
    linear-gradient(134deg, #18a1cc 16.37%, #92d1ff 94.77%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-reverse {
  background: linear-gradient(45deg, #92d1ff, #18a1cc);
}

@layer components {
  .input-group {
    @apply mb-4;
  }

  .input-group label,
  .input-group input,
  .input-group select,
  .input-group textarea {
    @apply block text-sm text-gray-700 mb-2 duration-500;
  }
  .input-group input,
  .input-group select,
  .input-group textarea {
    @apply text-[#434343] w-full bg-gray-100 px-4 py-2 outline-none rounded-md border border-gray-200;
  }

  .button {
    @apply text-sm block rounded-lg p-2 w-full text-center mt-8 text-white cursor-pointer duration-500;
  }

  .button:disabled {
    @apply cursor-not-allowed bg-gray-400 duration-500;
  }
}

.period {
  border-radius: var(--corner-radius-80, 8px);
  background: var(--blue-10, rgba(32, 91, 241, 0.1));
}

#sidebar {
  border-right: 1px solid var(--black-10, rgba(0, 0, 0, 0.1));
  background: var(--white-100, #fff);
}

.credit-card {
  border-radius: 16px;
  background: var(
    --button-main-primary,
    linear-gradient(134deg, #18a1cc 16.37%, #92d1ff 94.77%)
  );
}

#credit-btn {
  border-radius: var(--corner-radius-80, 8px);
  background: var(--main-secondary, #edf8ff);
}

#flex-center {
  display: flex;
  align-items: center;
}

#convo-header {
  border-bottom: 1px solid var(--gray-300, #d1d5db);
  background: var(--light-100, #fff);
  backdrop-filter: blur(5px);
}
